[Desktop Entry]
Version=1.0
Name=Mind Makers
Exec=chromium-browser https://mindmakers.cc/login/ --allow-control-allow-origin --start-fullscreen --allow-running-insecure-content --disable-popup-blocking
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/mm.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser
