[Desktop Entry]
Encoding=UTF-8
Name=Desktop v4.5
Name[pt_BR]=Ambiente v4.5
Type=Application
Terminal=false
Exec=leafpad /home/mindmakers/releasenotes.info
Icon=/usr/share/icons/card.png
StartupNotify=true
Categories=Application;
