[Desktop Entry]
Encoding=UTF-8
Name=Desktop v4.8
Name[pt_BR]=Ambiente v4.8
Type=Application
Terminal=false
Exec=mousepad /home/mindmakers/releasenotes.info
Icon=/usr/share/icons/card.png
StartupNotify=true
Categories=Application;
