[Desktop Entry]
Encoding=UTF-8
Name=Desktop v2.3
Name[pt_BR]=Ambiente v2.3
Type=Application
Terminal=false
Exec=leafpad /home/mindmakers/releasenotes.info
Icon=/usr/share/icons/card.png
StartupNotify=true
Categories=Application;
