- name: Desistala aplicações não utilizada dos softwares recomendados
  apt: name={{item}}
  with_items:
    - nodejs
  when: not nodejs.stat.exists
- name: Instala libudev-dev e build-essential
  apt: name={{item}}
  with_items:
    - libudev-dev
    - build-essential
- name: Instala pacote do nodejs "bluetooth-hci-socket"
  npm:
    name:  bluetooth-hci-socket
    path: /home/mindmakers/programs
    executable: /usr/bin/npm --unsafe-perm=true
- name: Instala pacote do nodejs "bluebird"
  npm:
    name: bluebird
    path: /home/mindmakers/programs
- name: Instala pacote do nodejs "browser-serialport"
  npm:
    name: browser-serialport
    path: /home/mindmakers/programs
- name: Instala pacote do nodejs "debug"
  npm:
    name: debug
    path: /home/mindmakers/programs
- name: Instala pacote do nodejs "express"
  npm:
    name: express
    path: /home/mindmakers/programs
- name: Instala pacote do nodejs "grunt"
  npm:
    name: grunt
    path: /home/mindmakers/programs
- name: Instala pacote do nodejs "keypress"
  npm:
    name: keypress
    path: /home/mindmakers/programs
- name: Instala pacote do nodejs "webworker-threads"
  npm:
    name: webworker-threads
    path: /home/mindmakers/programs
    executable: /usr/bin/npm --unsafe-perm=true
- name: Instala pacote do nodejs "noble"
  npm:
    name: noble
    path: /home/mindmakers/programs
    executable: /usr/bin/npm --unsafe-perm=true
- name: Instala pacote do nodejs "sphero"
  npm:
    name: sphero
    path: /home/mindmakers/programs
- name: Instala pacote do nodejs "serialport"
  npm:
    name: serialport
    path: /home/mindmakers/programs
    executable: /usr/bin/npm --unsafe-perm=true
