[Desktop Entry]
Version=1.0
Name=Code.org
Exec=chromium-browser /home/mindmakers/programs/codeorg.html --allow-control-allow-origin --allow-running-insecure-content --incognito --start-fullscreen
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/codeorg.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser
