[Desktop Entry]
Name=mBlock
Comment=
Icon=scratch2
Exec=bash /home/mindmakers/mbot/mBlock_RaspberryPI/mBlock
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
