[Desktop Entry]
Name=Take Photo
Name[pt_BR]=Captura Foto
Comment=Tira foto com raspberry camera
Icon=/usr/share/icons/camera-icon.png
Exec=bash /home/mindmakers/programs/shells/camera.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
