[Desktop Entry]
Name=Update
Name[pt_BR]=Atualizar
Comment= Atualiza a Versão da Imagem disponibilizada pela Mind Makers
Icon=/usr/share/icons/update.png
Exec=bash /home/mindmakers/programs/shells/update-image.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
