[Desktop Entry]
Name=Arduino Connection
Name[pt_BR]=Conexão Arduino
Comment=
Icon=/usr/share/icons/arduino.png
Exec=bash -c 'echo "***************************************************" && echo "ATENÇÃO:" &&  echo "1. MANTENHA ESTA JANELA ABERTA!" &&  echo "Caso a placa pare de piscar (pulso que indica configuração ok), reinicie este serviço apertando 'Control+C' e, em seguida, executando 's3a'." && echo "Para programar, utilize a fase 3 dos desafios IoT." && echo "****************************************************" && sudo s3a;$SHELL'
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
