[Desktop Entry]
Name=Arduino Connection
Name[pt_BR]=Conexão Arduino
Comment=
Icon=/usr/share/icons/arduino.png
Exec=pkill -f backplane || echo "***************************************************\nATENÇÃO:\n1. MANTENHA ESTA JANELA ABERTA!\nCaso feche por equívoco, desconecte e conecte o cabo do Arduino, antes de abri-la novamente.\n2. ATÉ DEZ/2021: Utilizar para programação a URL https://mryslab.github.io/s3onegpio/\n****************************************************" && sudo s3a
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
