[Desktop Entry]
Name=Arduino Connection
Name[pt_BR]=Conexão Arduino
Comment=
Icon=/usr/share/icons/arduino.png
Exec=bash -c 'echo "***************************************************" && echo "ATENÇÃO:" &&  echo "1. MANTENHA ESTA JANELA ABERTA!" &&  echo "Caso feche por equívoco, desconecte e conecte o cabo do Arduino, antes de abri-la novamente." && echo "2. ATÉ DEZ/2021: Utilizar para programação a URL https://mryslab.github.io/s3onegpio/" && echo "****************************************************" && sudo s3a;$SHELL'
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
