[Desktop Entry]
Name=Captura Foto
Comment=Tira foto com raspberry camera
Icon=/usr/share/icons/camera-icon.png
Exec=bash /home/pi/./camera
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
Name[pt_BR]=capturafoto.desktop
