[Desktop Entry]
Name=Pictures
Name[pt_BR]=Fotos
Comment=Tira foto com raspberry camera
Icon=folder
Exec=pcmanfm /home/pi/Pictures
Type=Application
Encoding=UTF-8
Terminal=False
Categories=None;
