[Desktop Entry]
Version=1.0
Name=Scratch 2
Exec=chromium-browser https://scratch.mit.edu --allow-control-allow-origin --allow-running-insecure-content --incognito --start-fullscreen
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=scratch
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Actions=NewWindow;Incognito;TempProfile;
X-AppInstall-Package=chromium-browser
