[Desktop Entry]
Name=Scratch2
Icon=folder
Exec=pcmanfm /home/mindmakers/Scratch2/portuguese
Type=Application
Encoding=UTF-8
Terminal=False
Categories=None;
