[Desktop Entry]
Version=1.0
Name=Scratch3
Comment=Modelos iniciais de projetos do Scratch 3
Exec=pcmanfm  /home/mindmakers/Scratch3
Terminal=false
Type=Application
Icon=folder
Categories=None;
