[Desktop Entry]
Version=1.0
Name=Scratch 2
Exec=/usr/bin/scratch2
Terminal=false
Type=Application
Icon=scratch
Categories=Application;Game;
StartupNotify=true
