[Desktop Entry]
Name=Sphero Connection
Name[pt_BR]=Conexão Sphero
Comment=Servidor Node.js que controla o Sphero. Para ser chamado do Mind Makers Blockly na porta 80
Icon=/usr/share/icons/sphero.png
Exec=bash ~/home/mindmakers/programs/shells/shellsphero+.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
