[Desktop Entry]
Name=Conexão Sphero
Comment=Servidor Node.js que controla o Sphero. Para ser chamado do Mind Makers Blockly na porta 80
Icon=/usr/share/icons/sphero.png
Exec=bash /home/pi/mmble/shellsphero+
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;