[Desktop Entry]
Name=Sphero Disconnect
Name[pt_BR]=Desconecta Sphero
Comment=Encerra o servidor Node.js que controla o Sphero.
Comment[pt_BR]=Finish the Node.js server that controls Sphero.
Icon=/usr/share/icons/sphero.png
Exec= bash /home/pi/mmble/./encerra-processo
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
