[Desktop Entry]
Name=Activate
Name[pt_BR]=Ativar
Comment=Ativação de computador (registro de Sphero e outros ativos)
Icon=/usr/share/icons/activate.png
Exec=bash /home/mindmakers/programs/shells/activate.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
